<h2>User Details</h2>
<div>
    <div>
        <label><b>First Name:- </b></label>{{user.firstName}}
    </div>
    <div>
        <label><b>Last Name:- </b></label>{{user.lastName}}
    </div>
    <div>
        <label><b>Addres:- </b></label>{{user.addrs}}
    </div>
    <div>
        <label><b>Date of Birth:- </b></label>{{user.dob}}
    </div>
    <div>
        <label><b>Date of joining:- </b></label>{{user.doj}}
    </div>
    <div>
        <label><b>Pin Code:- </b></label>{{user.pinCode}}
    </div>
</div>